.b-header
  position fixed
  top 0
  left 0
  width 100%
  height 98px
  padding-top 30px
  padding-bottom 30px
  background-color #fff
  color #333
  z-index 100
  
  @media( max-width 600px )
    padding-top 25px
    padding-bottom 25px
    height 81px
  
  a, a:hover
    color #333
  
  .container
    display flex
    align-items center
    justify-content space-between
    
  &-menu
    font-weight bold
    display none
    
    @media( min-width 1450px )
      display block
    
  &-contacts
    font-weight bold
    display flex
    justify-content space-between
    align-items center
    
  &-top-menu
    font-size 12pt
    margin 0
    
    li
      display inline-block
      margin-left 48px
      
      &:first-child
        margin-left 0
      
  & a&-phone
    font-size 12pt
    color #fe0e0e
    text-align right
    margin-right 20px
    
    @media( max-width 700px )
      display none
    
  &-socials
    display flex
    justify-content space-between
    align-items center
    margin-right 20px
    
    @media( max-width 700px )
      display none
  
    &__item
      height 20px
      margin-right 5px
      
      &:last-child
        margin-right 0
      
    svg
      display inline-block
      vertical-align top
      
          
  &-nav.b-menu-icon
    cursor pointer
        
  .b-header-logo
  
    img
      vertical-align top
      width 255px
      height 38px
      
      @media( max-width 600px )
        width 205px
        height 31px
        
    span
      font-family 'Oswald', sans-serif
      font-size 13pt
      color #ccc
      display block
      
.b-menu-icon
  display inline-block
  vertical-align top
  width 20px
  height 20px
  
  svg
    width 20px
    height 20px
  
#slide-out
  padding-top 25px
  font-weight bold
  
  &.sidenav li>a
    font-weight bold
  
  a[ href^=tel ]
    color #fe0e0e
    
.b-page
  padding-top 98px
  min-height calc( 100vh - 80px )
  
  @media( max-width 600px )
    padding-top 81px
    
.b-footer
  font-size 9pt
  height 75px
  padding-top 30px
  
  .row
    margin-right -0.75rem
    margin-left -0.75rem