extends ../layouts/main

block title
  title News | m1

block content

  link( href="/template/placeholders/news.css" rel="stylesheet" )

  .container
      
    section
    
      include ../components/news/template