.row
        
  .col.s3
    .b-photo-card
      .b-photo-card__photo( style="background-image: url( '/upload/building/1.jpg' );" )
      .b-photo-card__text Май, 2018<br>Строительство
        
  .col.s3
    .b-photo-card
      .b-photo-card__photo( style="background-image: url( '/upload/building/2.jpg' );" )
      .b-photo-card__text Июль, 2018
        
  .col.s3
    .b-photo-card
      .b-photo-card__photo( style="background-image: url( '/upload/building/3.jpg' );" )
      .b-photo-card__text Сентябрь, 2018
        
  .col.s3
    .b-photo-card
      .b-photo-card__photo( style="background-image: url( '/upload/building/3.jpg' );" )
      .b-photo-card__text Сентябрь, 2018