@import '../../styl/component-include.styl'

.b-photo-card
  
  &__photo
    padding-top 100%
    background-repeat no-repeat
    background-position center
    background-size cover
    
  &__text
    font-size 8pt
    margin-top 9px