a.b-news( href="./news/" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem" )
  span.b-news__bg( style="background-image: url( '/upload/building/1.jpg' );" )
  span.b-news__label
    span От 5 %
  span.b-news__text( itemprop="name" ) Новый пул апартаментов в продаже
    i 7 сентября 2020