@import '../../styl/component-include.styl'

.b-ph-block
  
  &.i-ph-animated
    
    .b-ph-content
      position static
      width auto
      opacity 1
      
    .b-ph
      position absolute
      top 0
      left 0
      opacity 0
      z-index -1

.b-news
  display block
  position relative
  padding-top calc( (100% - 1.5rem * 2) / 3 * .64 )
  transition( opacity .5s ease )
  width calc( (100% - 1.5rem * 2) / 3 )
  margin-bottom 1.5rem
  
  @media( max-width 991px )
    padding-top calc( (100% - 1.5rem) / 2 * .64 )
    width calc( (100% - 1.5rem) / 2 )
  
  @media( max-width 767px )
    padding-top 64%
    width 100%
  
  &:hover
    opacity .7
    
  &-block
    display flex
    justify-content space-between
    flex-wrap wrap
    margin-bottom -1.5rem

  &__bg
    background-repeat no-repeat
    background-position center
    background-size cover
    filter brightness(0.7)
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    z-index 1
    
  &__text
    position absolute
    bottom 12%
    left 0
    width 100%
    color #fff
    font-size 12pt
    font-weight bold
    line-height 1.2
    padding 0 7%
    z-index 2
    
    i
      font-size 8pt
      font-style normal
      font-weight normal
      display block
      margin-top 12px
      
  &__label
    position absolute
    top 0
    left 0
    padding 7% 7% 0 7%
    z-index 2
    
    span
      color #fff
      background #fd3332
      font-size 8pt
      text-align center
      line-height 40px
      height 40px
      padding 0 15px
      display block
      