ul.b-docs-block
  
  .row
    
    .col.m3.s6
      a.b-doc( href="" ) Разрешение на строительство (освобождение площадки под строительство)
    
    .col.m3.s6
      a.b-doc( href="" ) Разрешение на строительство (строительство жилого комплекса)
      
    hr.show-on-small.hide-on-med-and-up.clearfix
    
    .col.m3.s6
      a.b-doc( href="" ) Проектная декларация (новая редакция)
    
    .col.m3.s6
      a.b-doc( href="" ) Изменения № 1 в Проектную декларацию
      
  hr
      
  .row
    
    .col.m3.s6
      a.b-doc( href="" ) Изменения № 2 в Проектную декларацию
    
    .col.m3.s6
      a.b-doc( href="" ) Изменения № 3 в Проектную декларацию
      
    hr.show-on-small.hide-on-med-and-up.clearfix
    
    .col.m3.s6
      a.b-doc( href="" ) Изменения № 4 в Проектную декларацию
    
    .col.m3.s6
      a.b-doc( href="" ) Изменения № 5 в Проектную декларацию
