@import '../../styl/component-include.styl'

.b-doc
  display block
  position relative
  margin-left 40px
  font-size 10pt
  line-height 1.3
  min-height 30px
  color #000
  
  &:hover,
  &:active
    color #000
  
  &:before
    content ''
    display block
    width 24px
    height 30px
    background url( 'images/file.svg' ) no-repeat center
    background-size cover
    position absolute
    top 0
    left -40px