extends ../layouts/main

block title
  title Flat | m1

block content

  .b-gray-section
    .container
      
      section
      
        .row
          .col.s12.m10.push-m1
            h1.b-h2 Квартира 7000, площадь 48 м²
            hr.i-size-S
            
        .row
          
          .col.m6.s12
            img.b-img-100( src="/upload/flat.png" alt="Квартира в жилом комлексе М1" )
          
          .col.m5.push-m1.s12
          
            hr.i-size-M
          
            p.b-double-line-height Корпус: 1<br>
              | Этаж: 3<br>
              | Количество комнат: 1<br>
              | Площадь: 48.20 м2
              
            hr.i-size-S
              
            p
              b.text-middle 16 000 500 рублей
              
            hr.i-size-L.hide-on-small-only
            hr.i-size-M.hide-on-med-and-up
              
            a.b-btn( href="/form/" ) Отправить заявку
                    
        hr.i-size-L
            
        .row
          .col.s12.m10.push-m1
            a( href="" )
              b Другие варианты
        

            
