header.b-header
  .container
  
    a.b-header-logo(href='/')
      img( src='/template/images/logo-m1-hotel.png' width='79' height='51' alt='M1 Hotel' )
      
    .b-header-menu-block.text-right
    
      ul.unstyled.b-header-top-menu.hide-on-med-and-down.text-right
        li
          a(href='/#about') О комплексе
        li
          a(href='/#price') Планировки и цены
        li
          a(href='/#contacts') Контакты
        
      a.b-header-phone.hide-on-med-and-down.right( href="tel:+74993903131" ) +7(499)390-31-31
          
      .sidenav-trigger.b-header-nav.b-menu-icon.right.show-on-small.show-on-medium(  data-target='slide-out' )
        
      .clearfix
          
ul#slide-out.sidenav.unstyled
  li
    a( href="/#about" ) О комплексе
  li
    a( href="/#price" ) Планировки и цены
  li
    a( href="/#contacts" ) Контакты
  li
    a( href="tel:+74993903131" ) +7(499)390-31-31