.b-tabs
  .b-tabs__nav
    a.i-active( href="" data-tab="description" ) Описание
    | 
    a( href="" data-tab="infrastructure" ) Инфраструктура
    | 
    a( href="" data-tab="investments" ) Инвестиции
    | 
    a( href="" data-tab="self" ) Для себя
    
  .b-tabs__content
    .b-tabs__item.i-active( data-tab="description" )
      .row
        .col.s12.m5.push-m7
          .b-about-info
            .b-about-info__item
              b 1 514
              div номеров
              
            .b-about-info__item
              b 17
              div этажей
              
            .b-about-info__item
              b 2021
              div окончание<br>строительства
        hr.show-on-small.hide-on-med-and-up.i-size-S.clearfix
        .col.s12.m6.pull-m5
          p Гостиница возводится на динамично развивающейся территории городского поселения Новоивановское Одинцовского муниципального района Московской области вблизи (1,3 км) крупной транспортной развязки на пересечении Можайского шоссе с МКАД недалеко от инновационного центра «Сколково».
          
    .b-tabs__item( data-tab="infrastructure" style="display: none;" )
      .row
        .col.s12.m5.push-m7
          .b-about-info
            .b-about-info__item
              b 1 514
              div номеров
              
            .b-about-info__item
              b 17
              div этажей
              
            .b-about-info__item
              b 2021
              div окончание<br>строительства
        hr.show-on-small.hide-on-med-and-up.i-size-S.clearfix
        .col.s12.m6.pull-m5
          p Гостиница возводится на динамично развивающейся территории городского поселения Новоивановское Одинцовского муниципального района Московской области вблизи (1,3 км) крупной транспортной развязки на пересечении Можайского шоссе с МКАД недалеко от инновационного центра «Сколково».
          
    .b-tabs__item( data-tab="investments" style="display: none;" )
      .row
        .col.s12.m5.push-m7
          .b-about-info
            .b-about-info__item
              b 1 514
              div номеров
              
            .b-about-info__item
              b 17
              div этажей
              
            .b-about-info__item
              b 2021
              div окончание<br>строительства
        hr.show-on-small.hide-on-med-and-up.i-size-S.clearfix
        .col.s12.m6.pull-m5
          p Гостиница возводится на динамично развивающейся территории городского поселения Новоивановское Одинцовского муниципального района Московской области вблизи (1,3 км) крупной транспортной развязки на пересечении Можайского шоссе с МКАД недалеко от инновационного центра «Сколково».
          
    .b-tabs__item( data-tab="self" style="display: none;" )
      .row
        .col.s12.m5.push-m7
          .b-about-info
            .b-about-info__item
              b 1 514
              div номеров
              
            .b-about-info__item
              b 17
              div этажей
              
            .b-about-info__item
              b 2021
              div окончание<br>строительства
        hr.show-on-small.hide-on-med-and-up.i-size-S.clearfix
        .col.s12.m6.pull-m5
          p Гостиница возводится на динамично развивающейся территории городского поселения Новоивановское Одинцовского муниципального района Московской области вблизи (1,3 км) крупной транспортной развязки на пересечении Можайского шоссе с МКАД недалеко от инновационного центра «Сколково».
