.b-tabs
  .row
    .col.m10.push-m1
      .b-tabs__nav
        a.i-active( href="" data-tab="hypothec" ) Ипотека
        | 
        a( href="" data-tab="instalments" ) Рассрочка
        | 
        a( href="" data-tab="tradein" ) Trade in
    
  .b-tabs__content
    .b-tabs__item.i-active( data-tab="hypothec" )
    
      .row
        .col.m10.push-m1
          .row
            .col.s12.m5.push-m7
              .b-about-info
                .b-about-info__item.i-100
                  b от 9%
                  div ставка
              
            hr.hide-on-med-and-up.clearfix
            .col.s12.m6.pull-m5
              p Банки партнеры предлагают для вас удобную систему ипотечного кредитования.
            
      .b-banks-logo
        .row
          .col.m3.s6
            img( src="/upload/banks/1.png" alt="" )
          .col.m3.s6
            img( src="/upload/banks/2.png" alt="" )
          hr.hide-on-med-and-up.i-size-S.clearfix
          .col.m3.s6
            img( src="/upload/banks/3.png" alt="" )
          .col.m3.s6
            img( src="/upload/banks/4.png" alt="" )
            
        hr.hide-on-small-only.i-size-M
        hr.hide-on-med-and-up.i-size-S
            
        .row
          .col.m3.s6
            img( src="/upload/banks/1.png" alt="" )
          .col.m3.s6
            img( src="/upload/banks/2.png" alt="" )
          hr.hide-on-med-and-up.i-size-S.clearfix
          .col.m3.s6
            img( src="/upload/banks/3.png" alt="" )
          .col.m3.s6
            img( src="/upload/banks/4.png" alt="" )
          
    .b-tabs__item( data-tab="instalments" style="display: none;" )
      .row
        .col.m10.push-m1
          .row
            .col.s12.m5.push-m7
              .b-about-info
                .b-about-info__item.i-100
                  b от 9%
                  div ставка
              
            hr.hide-on-med-and-up.clearfix
            .col.s12.m6.pull-m5
              p Банки партнеры предлагают для вас удобную систему ипотечного кредитования.
            
      .b-banks-logo
        .row
          .col.m3.s6
            img( src="/upload/banks/1.png" alt="" )
          .col.m3.s6
            img( src="/upload/banks/2.png" alt="" )
          hr.hide-on-med-and-up.i-size-S.clearfix
          .col.m3.s6
            img( src="/upload/banks/3.png" alt="" )
          .col.m3.s6
            img( src="/upload/banks/4.png" alt="" )
          
    .b-tabs__item( data-tab="tradein" style="display: none;" )
      .row
        .col.m10.push-m1
          .row
            .col.s12.m5.push-m7
              .b-about-info
                .b-about-info__item.i-100
                  b от 9%
                  div ставка
              
            hr.hide-on-med-and-up.clearfix
            .col.s12.m6.pull-m5
              p Банки партнеры предлагают для вас удобную систему ипотечного кредитования.
            
      .b-banks-logo
        .row
          .col.m3.s6
            img( src="/upload/banks/1.png" alt="" )
          .col.m3.s6
            img( src="/upload/banks/2.png" alt="" )
