@import '../../styl/component-include.styl'

.b-tabs
  
  &__nav
    margin-bottom 52px
    
    a
      margin-right 45px
      font-size 12pt
      font-weight bold
      white-space nowrap
      color #333
      
      @media( max-width 767px )
        font-size 8pt
        margin-right 0
        margin-bottom 5px
        display block
      
      &:last-child
        margin-right 0
        
      &.i-active
        color #f33
        cursor default
        pointer-events none
        
  &__content
    
    @media( max-width 767px )
      overflow hidden
        
  &__item
    font-size 13.5pt
    line-height 1.7
    transform( translateX(100px))
    opacity 0
    transition( all .5s ease-in )
    
    &.i-active
      transform( translateX(0))
      opacity 1